/**
 * @file
 * Block Styling
 */
#youtube_feed_block_videosWrapper {
  margin: 0px auto;
  width: 100%;
  position: relative;
  height: auto;
}
#youtube_feed_block_videosWrapper ul {
  display: block;
  position: relative;
  height: 100%;
}
#youtube_feed_block_videosWrapper ul li {
  list-style-type: none;
  float: left;
  display: block;
  position: relative;
}
#youtube_feed_block_videosWrapper .clear {
  height: 1px;
  width: 100%;
  clear: both;
}
.youtube_feed_block_link {
  margin: 0px 10px;
}
.youtube_feed_video {
  margin: 5px;
}

.youtube_feed_video img {
  width: 38px;
  height: 38px;
  left: 50%;
  top: 50%;
  margin-left: -19px;
  margin-top: -19px;
  position: absolute;
}
